# Segunda aula de Introdução à Análise de Dados

In [7]:
import pandas as pd

In [8]:
import locale

In [9]:
locale.setlocale(locale.LC_ALL, '')

'Portuguese_Brazil.1252'

In [10]:
salario = 25000

In [11]:
locale.currency(salario)

'R$25000,00'

In [12]:
locale.currency(salario, grouping = True)

'R$25.000,00'

In [13]:
locale.LC_MONETARY

3

## Carregando a base de dados

In [14]:
file_directory = './'
file_name = 'default of credit card clients.xls'
file_path = file_directory + file_name

In [15]:
file_path

'./default of credit card clients.xls'

In [16]:
df_dados = pd.read_excel(file_path)

# Criando a regra de negócios no Pandas
## Identificando se a(o) ciente é homem

In [17]:
df_dados["SEX"].value_counts()

2    18112
1    11888
Name: SEX, dtype: int64

Criando uma máscara para identificar os homens.

In [18]:
mask_filter_man = df_dados["SEX"] == 1

In [19]:
mask_filter_man

0        False
1        False
2        False
3        False
4         True
         ...
29995     True
29996     True
29997     True
29998     True
29999     True
Name: SEX, Length: 30000, dtype: bool

In [20]:
sum(mask_filter_man)

11888

In [21]:
df_dados["eh_homem"] = mask_filter_man
df_dados["eh_homem"]

0        False
1        False
2        False
3        False
4         True
         ...
29995     True
29996     True
29997     True
29998     True
29999     True
Name: eh_homem, Length: 30000, dtype: bool

In [22]:
df_dados.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month', 'eh_homem'],
      dtype='object')

## Identificando se o cliente tem baixa escolaridade

In [23]:
df_dados["EDUCATION"].value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: EDUCATION, dtype: int64

Criando uma máscara para identificar se o cliente tem baixa escolaridade.

In [24]:
mask_filter_education = df_dados["EDUCATION"] >= 3

In [25]:
mask_filter_education

0        False
1        False
2        False
3        False
4        False
         ...
29995     True
29996     True
29997    False
29998     True
29999    False
Name: EDUCATION, Length: 30000, dtype: bool

In [26]:
sum(mask_filter_education)

5371

In [27]:
df_dados["tem_baixa_escolaridade"] = mask_filter_education
df_dados["tem_baixa_escolaridade"]

0        False
1        False
2        False
3        False
4        False
         ...
29995     True
29996     True
29997    False
29998     True
29999    False
Name: tem_baixa_escolaridade, Length: 30000, dtype: bool

In [28]:
df_dados.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month', 'eh_homem', 'tem_baixa_escolaridade'],
      dtype='object')

In [29]:
pd.pivot_table(data=df_dados, index="tem_baixa_escolaridade", columns="EDUCATION", values="ID", aggfunc="count", fill_value=True)

EDUCATION                  0      1      2     3     4     5     6
tem_baixa_escolaridade
False                     14  10585  14030  True  True  True  True
True                    True   True   True  4917   123   280    51

## Identificando se o cliente está atrasado no mês anterior

In [30]:
df_dados["PAY_0"].value_counts()

 0    14737
-1     5686
 1     3688
-2     2759
 2     2667
 3      322
 4       76
 5       26
 8       19
 6       11
 7        9
Name: PAY_0, dtype: int64

Criando uma máscara para identificar se o cliente tem baixa escolaridade.

In [31]:
mask_filter_default_last_month = df_dados["PAY_0"] > 0

In [32]:
mask_filter_default_last_month

0         True
1        False
2        False
3        False
4        False
         ...
29995    False
29996    False
29997     True
29998     True
29999    False
Name: PAY_0, Length: 30000, dtype: bool

In [33]:
sum(mask_filter_default_last_month)

6818

In [34]:
df_dados["deve_mes_anterior"] = mask_filter_default_last_month
df_dados["deve_mes_anterior"]

0         True
1        False
2        False
3        False
4        False
         ...
29995    False
29996    False
29997     True
29998     True
29999    False
Name: deve_mes_anterior, Length: 30000, dtype: bool

In [35]:
df_dados.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month', 'eh_homem', 'tem_baixa_escolaridade',
       'deve_mes_anterior'],
      dtype='object')

In [36]:
pd.pivot_table(data=df_dados, index="deve_mes_anterior", columns="PAY_0", values="ID", aggfunc="count", fill_value=0)

PAY_0                -2    -1      0     1     2    3   4   5   6   7   8
deve_mes_anterior
False              2759  5686  14737     0     0    0   0   0   0   0   0
True                  0     0      0  3688  2667  322  76  26  11   9  19

## Criando a coluna de previsão do atraso

In [37]:
df_dados["previsao_atraso"] = (df_dados["eh_homem"]) & (df_dados["deve_mes_anterior"]) & (df_dados["tem_baixa_escolaridade"])

In [38]:
df_dados["previsao_atraso"].tail()

29995    False
29996    False
29997    False
29998     True
29999    False
Name: previsao_atraso, dtype: bool

In [39]:
sum(df_dados["previsao_atraso"])

579

## Verificando se a regra funcionou

In [40]:
pd.pivot_table(data=df_dados, index="previsao_atraso", columns=["eh_homem","deve_mes_anterior","tem_baixa_escolaridade"], values="ID", aggfunc="count", fill_value=0)

eh_homem                False                   True
deve_mes_anterior       False       True        False       True
tem_baixa_escolaridade  False True  False True  False True  False True
previsao_atraso
False                   11693  2455  3200   764  7461  1573  2275     0
True                        0     0     0     0     0     0     0   579

# Analisando a qualidade da previsão da regra de negócio: matriz de confusão

Cassificador Binário

Comparação das duas colunas: 'previsao_de_atraso' e 'default payment next month'

In [41]:
pd.pivot_table(data=df_dados, index="default payment next month", columns="previsao_atraso", values="ID", aggfunc="count", fill_value=0)

previsao_atraso             False  True
default payment next month
0                           23096    268
1                            6325    311

In [42]:
fp = 268
tp = 311
tn = 23096
fn = 6325
precision = (tp / (tp + fp)) * 100
recall = (tp / (tp + fn)) * 100
print("Precisão: " + str(precision) + "%")
print("Recall: " + str(recall) + "%")

Precisão: 53.71329879101899%
Recall: 4.686558167570825%

Ou seja, de todos os casos que o modelo disse ser verdade, {{precision}}% de fato era verdade (precisão). Enquanto todos casos que são de fato verdade, {{recall}}% o modelo disse ser verdade (recall).

## Impacto financeiro sem a previsão

In [60]:
mask_filter_not_default =(df_dados["default payment next month"] == 0)

In [62]:
mask_filter_default =(df_dados["default payment next month"] == 1)

## Impacto financeiro de quem PAGOU

In [ ]:
pd.pivot_table(data=df_dados, index="true_negatives", columns="LIMIT_BAL", values="ID", aggfunc="sum", fill_value=True)

## Impacto financeiro com a previsão atual

In [63]:
mask_filter_true_negatives = (df_dados["previsao_atraso"] == False) & (df_dados["default payment next month"] == 0)

In [50]:
df_dados["true_negatives"] = mask_filter_true_negatives
df_dados["true_negatives"]

0        False
1        False
2         True
3         True
4         True
         ...
29995     True
29996     True
29997    False
29998    False
29999    False
Name: true_negatives, Length: 30000, dtype: bool

In [56]:
pd.pivot_table(data=df_dados, index="true_negatives", columns="LIMIT_BAL", values="ID", aggfunc="sum", fill_value=True)

LIMIT_BAL,10000,16000,20000,30000,40000,50000,60000,70000,80000,90000,...,700000,710000,720000,730000,740000,750000,760000,780000,800000,1000000
true_negatives,,,,,,,,,,,,,,,,,,,,,
False,3241699.0,True,11379018.0,8538010.0,1367192.0,13805811.0,3521558.0,3126553.0,5916735.0,2479800.0,...,True,3403.0,26922.0,True,13884.0,True,True,True,True,True
True,4139586.0,32481,17795302.0,14590526.0,2113009.0,34853250.0,8669639.0,7803507.0,17518296.0,7000493.0,...,123882,57818.0,36761.0,52245,25127.0,31615,21376,53037,32927,2198

In [51]:
mask_filter_false_negatives = (df_dados["previsao_atraso"] == True) & (df_dados["default payment next month"] == 0)

In [52]:
df_dados["false_negatives"] = mask_filter_false_negatives
df_dados["false_negatives"]

0        False
1        False
2        False
3        False
4        False
         ...
29995    False
29996    False
29997    False
29998    False
29999    False
Name: false_negatives, Length: 30000, dtype: bool

In [55]:
pd.pivot_table(data=df_dados, index="false_negatives", columns="LIMIT_BAL", values="ID", aggfunc="sum", fill_value=True)

LIMIT_BAL,10000,16000,20000,30000,40000,50000,60000,70000,80000,90000,...,700000,710000,720000,730000,740000,750000,760000,780000,800000,1000000
false_negatives,,,,,,,,,,,,,,,,,,,,,
False,7150133.0,32481,28479838.0,22858370.0,3.4802e+06,47845571.0,12135411.0,10869902.0,23168861.0,9459587.0,...,123882,61221,63683,52245,39011,31615,21376,53037,32927,2198
True,231152.0,True,694482.0,270166.0,True,813490.0,55786.0,60158.0,266170.0,20706.0,...,True,True,True,True,True,True,True,True,True,True