# Primeira Aula - Esquentando com Python

Esta é a documentação do esquenta para a aula de Introdução à Análise de Dados do profressor Adriano Prieto, onde relembramos algumas peculiaridades da linguagem Python e aprendemos a trabalhar com o Jupyter.

In [1]:
1+1

2

Vejam que resultado incrivel! A soma de 1 + 1 é igual a 2

In [2]:
2**3

8

In [3]:
2^3

1

In [4]:
2*2

4

In [6]:
'Texto'

'Texto'

In [7]:
"Texto 1 " + "Texto 2"

'Texto 1 Texto 2'

In [8]:
"A"*3

'AAA'

In [9]:
"B"*3.0

TypeError: can't multiply sequence by non-int of type 'float'

In [10]:
numA = 1

In [11]:
numA

1

In [12]:
numB = 2

In [13]:
numA + numB

3

In [14]:
resultado = numA + numB

In [15]:
resultado

3

In [17]:
firstName = "Murilo"

In [18]:
midleName = "César"

In [21]:
lastName = "Bizin"

In [23]:
fullName = firstName + " " + midleName + " " + lastName

In [25]:
fullName

'Murilo César Bizin'

In [40]:
nome_time_da_casa = "Ponte Preta"
nome_time_visitante = "Corinthians"
gols_time_da_casa = 2
gols_time_visitante = 1
frase = nome_time_da_casa + ": " + str(gols_time_da_casa) + " x " + str(gols_time_visitante) + " :" + nome_time_visitante
frase

'Ponte Preta: 2 x 1 :Corinthians'

# Excercício 

Cállculo da média de três notas.

- Três variáveis: são as notas
- A última variável: a média
- Exibir a última variável

In [58]:
n1 = 9
n2 = 6
n3 = 7
media = (n1 + n2 + n3) / 3
media

7.333333333333333

# Listas

In [60]:
nameList = [firstName, midleName, lastName]
nameList

['Murilo', 'César', 'Bizin']

In [61]:
lista_notas = [n1, n2, n3]
lista_notas

[9, 6, 7]

In [62]:
sum(lista_notas)

22

In [63]:
len(lista_notas)

3

In [64]:
sum(lista_notas)/len(lista_notas)

7.333333333333333

In [65]:
nameList[1]

'César'